body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(52,52,71,1) 83%);
    overflow-x: hidden;
}

header {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.14);
    padding: 10px 0;
}

iframe {
    border: 2px solid transparent;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    transition: 0.4s;
    width:50%;
    height:700px;
}

iframe:hover {
    border: 2px solid white;
}

.a {
    color: rgb(148, 135, 222);
    font-size: 30px;
    transition: 0.3s;
    margin: 10px;
    font-weight: 600;
}

.a:hover {
    color: rgb(255, 255, 255);
    margin: 35px;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    font-size: 45px;
    font-weight: 600;
    color: white;
    cursor: default;
}

.card {
    border: 2px solid white;
    border-radius: 5px;
    display: inline-block;
    margin: 30px;
    color: white;
    transition: 0.3s;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    scale: 1.05;
}

.pfp {
    width: 415px;
    height: 550px;
}

.pfp-name {
    font-weight: 600;
    font-size: 30px;
}

.pfp-desc {
    font-size: 20px;
    padding: 15px;
}

#cards {
    text-align: center;
    margin-top: 60px;
}

#index-text {
    text-align: center;
    margin-top: 200px;
    font-size: 30px;
    font-weight: 600;
    color: white;
    cursor: default;
}

#jojatekot {
    font-size: 48px;
    color: white;
    font-weight: 700;
    transition: 0.5s;
}

#jojatekot:hover {
    color: burlywood;
    transform: translate(0px, -10px);
}

#dev {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    color: white;
    cursor: default;
}

.dev-img-l {
    width: 1000px;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.3s;
}

.dev-img-s {
    width: 650px;
    border: 2px solid white;
    border-radius: 5px;
    transition: 0.3s;
}

.dev-img-l:hover, .dev-img-s:hover {
    box-shadow: 10px 20px 1px black;
    transform: translate(0px, -10px);
}

.dev-sect {
    margin-top: 80px;
}

.dev-sect p {
    margin-bottom: 40px;
}

::-webkit-scrollbar {
width: 15px;
}

::-webkit-scrollbar-track {
background: #53308a;
}

::-webkit-scrollbar-thumb {
background: #7d7ff1;
}

::-webkit-scrollbar-thumb:hover {
background: #e4e4e4;
}

@media only screen and (max-width: 300px) {
    #only-large {
        display: none;
    }
}

@media  screen and (max-width: 1000px) {
    .dev-img-l {
        width: 400px;
    }
    .dev-img-s {
        width: 400px;
    }
}